// page banner images

.page-banner { 
    min-height: 100vh;
    object-fit: cover;
}

.bg-dots {
    background: url('/bg_dots.webp') center;
    background-size: cover;
}

.bg-texture {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23070707' fill-opacity='0.34' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.bg-cart {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.94), rgba(255, 255, 255, 0.94)),
    url('/01getstartedcover.jpg');
    background-size: cover;
}
.bg-taieri {
    // background: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url('/img/Taieri.svg'); 
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('~@/assets/Taieri.svg'); 
    background-size: 500%; 
    // background-attachment: scroll;
}

@media(max-width: 992px) {
    .page-banner { 
        min-height: 50vh;
    }
}
@media(max-width: 768px) {
    .bg-taieri {
        background-attachment: scroll;
    }
}
