// be sure to align nav with body max-width in main.scss

nav {
    max-width: 1600px;
    margin: 0 auto;
    overflow-x: hidden;
}

.navbar-light .navbar-toggler {
    color: #000;
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-brand {
    color: #53565A;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

// active link color
.router-link-exact-active {
    color:rgba(0, 0, 0, 1) !important
}

.fixed-top {
    z-index: 10030;
}

@media (max-width: 1199px) {
    .navbar-nav li {
        width: 100%;
    }
    .navbar-light .navbar-nav li:first-of-type {
        border-top: 1px solid lightgrey;
        margin-top: 10px;
    }
    .navbar-light .navbar-nav .nav-link {
        border-bottom: 1px solid lightgrey;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }
}
@media (max-width: 600px) {
    .navbar-brand {
        font-size: 1rem;
    }
}
// iphone 6/7/8 plus
@media (max-width: 430px) {
    :lang(fr) .navbar-brand {
        font-size: 0.8rem;
    }
}
// iphone X
@media (max-width: 375px) {
    :lang(fr) .navbar-brand {
        font-size: 0.8rem;
    }
}
// iphone 5
@media (max-width: 320px) {
    :lang(fr) .navbar-brand {
        font-size: 0.65rem;
    }
}