.min-h-100 {
    min-height: 100vh;
}

.min-h-75 {
    min-height: 75vh;
}

.min-h-50 {
    min-height: 50vh;
}

.min-h-25 {
    min-height: 25vh;
}

// borders

.border-green-trans {
    border-color: #00A55050 !important;
}

.border-lightblue-trans {
    border-color: #62B5E550 !important;
}

// positioning

.absolute {
    position: absolute;
}
.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

// % only prints when used with @extend

%sticky {
    position: sticky;
}

.sticky,
.sticky__details {
    @extend %sticky;
}

.sticky {
    top: 15%;
}

.sticky__details {
    top: 6%;
}

.top {
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

// z-index

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z--1 {
    z-index: -1;
}

// object-fit

.cover {
    object-fit: cover;
}

@media(max-width: 992px) {
    .fixed {
        position: static;
        z-index: 0;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .w-sm-100 {
      width: 100%;
  }
}

@media (max-width: 1091px) {
    .sticky,
    .sticky__details {
        position: relative; 
        top: 0;
    }
}
// @media only screen 
//   and (max-device-width: 1091px) {
//     .sticky {
//         position: relative; 
//         top: 0;
//     }
// }
