button, 
.btn {
    border-radius: 25px;
    padding: 0.375rem 1.5rem;
}

.btn:focus, 
.btn.focus
svg:focus, 
svg.focus {
    outline: 0;
    box-shadow: none;
}

.btn-lightblue {
    color: #ffffff;
    background-color: #62B5E5;
    border-color: #62B5E5;
}

.btn-royal {
    color: #ffffff;
    background-color: #003Da5;
    border-color: #003Da5;
}

.btn-outline-royal {
    color: #003Da5;
    background-color: transparent;
    border-color: #003Da5;
}

.btn-orange {
    color: #ffffff;
    background-color: #ED8B00;
    border-color: #ED8B00;
}

.btn-coral {
    color: #222222;
    background-color: #f0aea2;
    border-color: #f0aea2;
}

.btn-lightpink {
    color: #222222;
    background-color: #f9dcd7;
    border-color: #f9dcd7;
}

.btn-bluegrey {
    color: #222222;
    background-color: #b5dae5;
    border-color: #b5dae5;
}
.btn-trans {
    background: transparent;
    color: black;
    border: none;
}