.btn-coral {
    color: #222222;
    background-color: #f0aea2;
    border-color: #f0aea2;
}

.btn-lightpink {
    color: #222222;
    background-color: #f9dcd7;
    border-color: #f9dcd7;
}

.btn-lightblue {
    color: #222222;
    background-color: lightblue;
    border-color: lightblue;
}

.btn-bluegrey {
    color: #222222;
    background-color: #b5dae5;
    border-color: #b5dae5;
}
.btn-trans {
    background: transparent;
    color: black;
    border: none;
}