.bg-gradient-lightblue {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.bg-lightblue {
    background-color: #62B5E5 !important;
}

.badge-lightblue {
    color: #fff;
    background-color: #62B5E5;
}

.bg-royal {
    background-color: #003Da5;
}

.bg-orange {
    background-color: #ED8B00;
}

.badge-orange {
    color: #fff;
    background-color: #ED8B00;
}

.bg-yellow {
    background-color: #FFCF00;
}

.bg-green {
    background-color: #00A550;
}

.badge-green {
    color: #fff;
    background-color: #00A550;
}

.bg-purple {
    background-color: #003DA5;
}

// text

.text-base {
    color: #53565A;
}

.text-orange {
    color: #ED8B00;
}

.text-lightblue {
    color: #62B5E5;
}

.text-royal {
    color: #003Da5;
}

.text-yellow {
    color: #FFCF00;
}

.text-green {
    color: #00A550;
}

// glassmorphism text boxes

.bg-glass {
    background: rgba( 255, 255, 255, 0.85 );
    background: #FFFFFFCC;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
    border-radius: 14px;
}

// about page color strips

.bg-yellow-trans {
    background-color: #FFCF0083;
}
.bg-purple-trans {
    background-color: #003DA59A;
}
.bg-orange-trans {
    background-color: #ED8B008E;
}
.bg-lightblue-trans {
    background-color: #62B5E51A !important;
}