.bg-gradient-lightblue {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.bg-lightblue {
    background: #62B5E5;
}

.bg-royal {
    background: #003Da5;
}

.bg-orange {
    background: #ED8B00;
}

.bg-yellow {
    background: #FFCF00;
}

.bg-green {
    background: #00A550;
}

.bg-purple {
    background: #003DA5;
}

// text

.text-base {
    color: #53565A;
}

.text-orange {
    color: #ED8B00;
}

.text-lightblue {
    color: #62B5E5;
}

.text-royal {
    color: #003Da5;
}

.text-yellow {
    color: #FFCF00;
}

.text-green {
    color: #00A550;
}

// about page color strips

.bg-yellow-trans {
    background: #FFCF0083;
}
.bg-purple-trans {
    background: #003DA59A;
}
.bg-orange-trans {
    background: #ED8B008E;
}