.bg-gradient-lightblue {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.bg-lightblue {
    background: #62B5E5;
}

.bg-royal {
    background: #003Da5;
}

.bg-orange {
    background: #ED8B00;
}

// text

.text-base {
    color: #53565A;
}

.text-orange {
    color: #ED8B00;
}

.text-lightblue {
    color: #62B5E5;
}

.text-royal {
    color: #003Da5;
}
