nav {
    max-width: 1500px;
    margin: 0 auto;
    overflow-x: hidden;
}

.navbar-light .navbar-toggler {
    color: #000;
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-brand {
    color: #53565A;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}