h1, .h1 {
    font-size: 2.5rem;
    line-height: 1;
}

.page-title,
.site-title {
  font-size: 10vmin;
  line-height: 90%;
  letter-spacing: -2px;
}

.details-title {
  font-size: 4ch;
}

.checkout-item-title {
  font-size: 2ch;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1, .h1 {
      font-size: 2rem;
      line-height: 1;
  }
  .display-4 {
      font-size: 2rem;
  }
  .site-title {
    // font-size: 12vmin;
    font-size: 10vmin;
  }
  .page-title {
    font-size: 8vmin;
  }
  .details-title {
    font-size: 1.7ch;
  }
  .checkout-item-title {
    font-size: 1.5ch;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    h1, .h1 {
        font-size: 2rem;
    }
    .display-4 {
      font-size: 2.5rem;
    }
    .details-title {
      font-size: 2.3ch;
    }
    .checkout-item-title {
      font-size: 1.7ch;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    h1, .h1 {
        font-size: 2rem;
    }
}



/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    h1, .h1 {
        font-size: 2rem;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}
