.min-h-100 {
    min-height: 100vh;
}

.min-h-50 {
    min-height: 50vh;
}

.min-h-25 {
    min-height: 25vh;
}

// positioning

.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.fixed {
    position: fixed;
    // top: 0;
    // right: 0;
    // left: 0;
    // z-index: 1030;
}

.top {
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z--1 {
    z-index: -1;
}

@media(max-width: 992px) {
    .fixed {
        position: static;
        z-index: 0;
    }
}